@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Estilizações Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
}

/* Estilização do Tutorial */
.tutorial {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
}

.tutorial > h3 {
  color: #FFF;
  padding-bottom: 10px;
  font-weight: bold;
}

.tutorial > p {
  color: #c0c0c0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.tutorial > ul {
  list-style-type: none;
  background-color: #c0c0c0;
  padding: 20px;
  border-radius: 30px;
  border: 4px solid #462424;
}

.tutorial > ul > li {
  padding: 5px;
  font-weight: 600;
  color: #2e2e2e;
  margin-left: 15px;
}

.tutorial > ul > li::before {
  content: "\2022";
  color: #462424;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
  transform: scale(1.5);
}